.hero {
	display: inline-block;
	padding-left: 5%;
	.section-inner {
		padding-top: $hero--padding-t__mobile;
	}
}

.hero-inner {

	// Affects only hero full
	> .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}
